flask==2.3.3
# To enable CUDA for GPU acceleration:
# pip install torch==2.0.1+cu118 torchaudio==2.0.2+cu118 --index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
torchaudio==2.0.2
numpy==1.24.3
pydub==0.25.1
soundfile==0.12.1
librosa==0.10.1
webrtcvad==2.0.10
pandas==2.0.3
scipy==1.10.1
matplotlib==3.7.2
openai-whisper==20231117
transformers==4.35.2